@tailwind base;
@tailwind components;
@tailwind utilities;


/* I want the below colors to be the theme variables, but it wasn't working, so I hard coded it for now */
.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 5%;
    /* TODO: figure out how to use TW variables for this stuff */
    background-color: #553700;
    border: thick solid #7688A9;
    border-radius: 5%;
    width: 50%;
    height: 40vh;
    }

h2 {
    font-size: xx-large;
    color: #CBEEE5;
    margin: 5vh;
}