@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    h1{
        @apply text-7xl
    }
    h2{
        @apply text-2xl m-3.5 text-amber-200
    }
    .card{
        @apply flex flex-col items-center h-full w-1/2
    }
}
/* I want the below colors to be the theme variables, but it wasn't working, so I hard coded it for now */
.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 5%;
    border-radius: 5%;
    width: 50%;
    height: 40vh;
    }